$font-stack: 'Montserrat', sans-serif;
$main-color: #dabd9d;
$secondary-color: #232a61;

.container {
  background-color: white;
  box-shadow: 0px 0px 10px -1px rgba(1, 11, 64, 1);
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 450px;
  font: 100% $font-stack;
}

.mainUserData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  flex-shrink: 0;
  background-image: url('/src/assets/backgroundImg.jpg');
  background-size: cover;
  background-position: center;
  border-bottom: 10px solid $main-color;
}

.imageContainer {
  width: 100px;
  height: 100px;
  margin-bottom: 8px;

  .mainImage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px rgb(251, 251, 251);
    object-fit: cover;
  }
}

.userName {
  font-size: 1.5rem;
  color: $main-color;
  letter-spacing: 1px;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}

.userTitle {
  color: $main-color;
  text-transform: lowercase;
}

.adressUserData {
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: small;
  flex-grow: 1;
}

.dataWithQr {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.phoneAndEmail {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  padding-right: 10px;
}

.qrPlaceholder {
  width: 50px;
  height: 50px;
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  align-self: flex-end;
  font-size: 10px;
  font-weight: bold;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;

  .qrImg {
    width: 100%;
    height: 100%;
  }
}

.contactInfo {
  color: $secondary-color;
  display: flex;
  align-items: flex-start;
  gap: 3px;
}

.contactInfoP {
    word-wrap: break-all;
    overflow-wrap: break-word;
    hyphens: auto;
    margin: 0;
    line-height: 1.3;
    flex: 1;
    min-width: 0;
  }

.icon {
  width: 16px;
  height: 16px;
  color: $secondary-color;
  flex-shrink: 0;
}
