$secondary-color: #232a61;
$main-color: #dabd9d;

* {
  box-sizing: border-box;
}

body {
  padding-top: 150px;
  background-color: aliceblue;
  padding-left: 45px;
}

.userList {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  padding: 15px;
}

button {
  background-color: $secondary-color;
  color: $main-color;
  font-weight: 900;
  font-size: large;
  padding: 15px 32px;
  margin: 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

